* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(231, 231, 231) 100%);
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://mfiles.alphacoders.com/908/908083.jpg");
    background-color: rgb(255, 196, 33);
    padding: 40px;
    flex: 30%;
    border-radius: 10px;


}

.flex-item-left h1 {
    text-align: left;
    font-size: 40px;
    color: #fff;
}

.flex-item-left p {
    text-align: left;
    font-size: 20px;
    color: #fff;

}

.flex-item-left ul {
    text-align: left;
    font-size: 20px;
    color: #fff;
    list-style: none;
    border-left: 3px solid #fff ;
}

.flex-item-left img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.flex-item-right {
    background-color: rgb(32, 32, 32);
    padding: 40px;
    flex: 70%;
    border-radius: 10px;

}

.flex-item-right h1 {
    text-align: left;
    font-size: 40px;
    color: #fff;

}

.flex-item-right h2 {
    text-align: left;
    font-size: 20px;
    color: #fff;

}

.flex-item-right p {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.flex-item-right ul {

    text-align: left;
    font-size: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 30px;
    padding-left: 30px;
}

.flex-item-right img {
    width: 20px;
    height: auto;
    border-radius: 50%;
}

.flex-item-right a {
   color: rgb(0, 0, 0);
  
}

.flex-item-html {
    background-color: rgb(255, 196, 33);
    padding: 40px;
    flex: 40%;
    border-radius: 10px;
    

}

.flex-item-css {
    background-color: rgb(255, 219, 122);
    padding: 40px;
    flex: 40%;
    border-radius: 10px;
    
}

.flex-item-js {
    background-color: rgb(255, 240, 197);
    padding: 40px;
    flex: 20%;
    border-radius: 10px;
    
}

a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 0, 0);
    font-size:x-large;
  }


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}