* {
    box-sizing: border-box;
}

body {
    background-color:#797979 ;
    padding: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {

    background-color: rgb(65, 65, 65);
    padding: 40px;
    flex: 30%;
 
    border: 5px solid black;
    border-right: 5px solid rgb(195, 255, 0);

}

.flex-item-left h1 {
    text-align: left;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.flex-item-left p {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.flex-item-left ul {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    list-style: none;
    border-left: 3px solid rgb(195, 255, 0) ;
}

.flex-item-left ul a {

    color: rgb(0, 0, 0);

}

.flex-item-left img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.flex-item-right {
    border: 1px solid rgb(195, 255, 0);
    padding: 40px;
    flex: 70%;
    border-style: none;
    border-right: 5px solid rgb(195, 255, 0);

}

.flex-item-right h1 {
    text-align: left;
    font-size: 40px;
    color: #fff;

}

.flex-item-right h2 {
    text-align: left;
    font-size: 20px;
    color: #fff;

}

.flex-item-right p {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);

}

.flex-item-right ul {

    text-align: left;
    font-size: 20px;
    background-color:#D3B5FE ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    padding-left: 30px;
    border-radius: 15px 50px;
    
}

.flex-item-right img {
    width: 20px;
    height: auto;
    border-radius: 50%;
}

.flex-item-right a {
   color: rgb(0, 0, 0);
  
}

.flex-item-html {

    width: 70%;

    transform: skew(20deg);
    background: black;
    border: 5px solid rgb(171, 54, 255);
    padding: 40px;
    flex: 40%;  

}

.flex-item-css {

    width: 70%;
    transform: skew(20deg);
    background: black;

    padding: 40px;
    flex: 40%;
    
}

.flex-item-js {

    width: 10%;
    transform: skew(20deg);
    background: black;
    border: 5px solid rgb(171, 54, 255);
    padding: 40px;
    flex: 20%;
 
    
}

a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 255, 217);
    font-size:x-large;
  }


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}




